{% extends 'base.html' %}
{% load static %}

{% block content %}

<fieldset class="fieldset">
  <div class="tablink">
    <a href="{% url 'sectionAdd' %}">
      <h1 id="defaultOpen">Add Section</h1>
    </a>
    <h1 id="link_to_edit">Edit Section</h1>
  </div>

  <div class="tabcontent" id="edit">
    <table class="editTable">
      <thead>
        <tr class="table-headers">
          <th>Section Id</th>
          <th>Year</th>
          <th>Total Classes</th>
          <th class="empty"></th>
        </tr>
      </thead>

      <tbody>
        {% for sec in sections %}
        <tr>
          <td>{{ sec.section_id }}</td>
          <td>{{ sec.year.year_name }}</td>
          <td>{{ sec.num_class_in_week }}</td>
          <td class="empty">
            <form action="{% url 'deletesection' sec.section_id %}" method="post">
              {% csrf_token %}
              <input type="submit" value="X" class="cross">
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</fieldset>

{% endblock %}
