{% extends 'base.html' %}
{% load static %}
{% load index %}

{% block content %}

<fieldset class="fieldset">
  <div class="tablink">
    <a href="{% url 'yearAdd' %}">
      <h1 id="defaultOpen">Add Year</h1>
    </a>
    <h1 id="link_to_edit">Edit Year</h1>
  </div>

  <div class="tabcontent" id="edit">
    <table class="editTable">
      <thead>
        <tr class="table-headers">
          <th>Year</th>
          <th>Courses</th>
          <th class="empty"></th>
        </tr>
      </thead>

      <tbody>
        {% for year in years %}
        <tr>
          <td>{{ year.year_name }}</td>
          <td>
            {% for course in year.courses.all %}
              {{ course.course_name }}{% if not forloop.last %}, {% endif %}
            {% empty %}
              No courses
            {% endfor %}
          </td>
          <td class="empty">
            <form action="{% url 'yearDelete' year.id %}" method="post">
              {% csrf_token %}
              <input type="submit" value="X" class="cross">
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</fieldset>

{% endblock %}
